.contact_header{
  padding-top: 3rem;
  padding-bottom: 3rem;
  background: #F7F7F7;
}

.mapouter{
  position:relative;
  text-align:right;
  height:315px;
  width:100% !important;
  }

  .gmap_canvas {
    overflow:hidden;
    background:none!important;
    height:315px;
    width:100% !important;
  }


textarea {
    font-size: 1rem;
    outline: none;
    border: none;
    border-radius: 5px;
    width: 100% !important;
    padding: 1rem 0.7rem;
    color: gray;
    transition: 0.3s all ease-in;
}

textarea:focus {
    border: 2px solid black;
    transition: 0.3s ease-in;
}

textarea:focus + label {
    color: black;
    top: 0;
    transform: translateY(-50%) scale(.9);
}

textarea {
    width: 100%;
    background-color: #f7f7f9;
}

textarea:not(:placeholder-shown) + label {
    top: 0;
    transform: translateY(-50%) scale(.9);
}


.material-textfield {
    position: relative;
    margin-bottom: 2rem;
}

label {
    position: absolute;
    font-size: 1rem;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: #f7f7f9;
    color: gray;
    padding: 0 0.3rem;
    margin: 0 0.5rem;
    transition: .1s ease-in;
    transform-origin: left top;
    pointer-events: none;
}

input {
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    padding: 1rem 0.7rem;
    color: gray;
    width: 100%;
    background-color: #f7f7f9;
    transition: 0.3s all ease-in;
}

input:focus {
    border: 2px solid black !important;
    transition: 0.3s ease-in;
}

input:focus + label {
    color: black;
    top: 0;
    transform: translateY(-50%) scale(.9);
}

input:not(:placeholder-shown) + label {
    top: 0;
    transform: translateY(-50%) scale(.9);
}
